@model WebApplication2.Models.ClientWeb

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    @await Html.PartialAsync("~/Views/Shared/_NavBarPartial.cshtml")
    <!-- Navbar -->
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->

    @await Html.PartialAsync("~/Views/Shared/_Aside.cshtml")

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Clientes Details</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">ChartJS</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <form role="form" id="editClientWeb" method="post" enctype="multipart/form-data" action="/client/client/postdetails">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" name="Id" id="Id" value="@Model.Id" />

                        <div class="row form-group">
                            <div class="col-sm-6 input-group mb-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><b>@Html.DisplayNameFor(model => model.CodClient)</b></span>
                                </div>
                                <input asp-for="CodClient" class="form-control" value="@Model.CodClient" />
                                <span asp-validation-for="CodClient" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6 input-group mb-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><b>@Html.DisplayNameFor(model => model.NumDocument)</b></span>
                                </div>
                                <input asp-for="NumDocument" class="form-control" value="@Model.NumDocument" />
                                <span asp-validation-for="NumDocument" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6 input-group mb-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><b>@Html.DisplayNameFor(model => model.CivilSta)</b></span>
                                </div>
                                @Html.DropDownList("CivilSta", ViewData["civilSta"] as List<SelectListItem>, new { @class = "form-control  select2 select2-hidden-accessible" })
                                <span asp-validation-for="CivilSta" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6 input-group mb-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><b>@Html.DisplayNameFor(model => model.Birthdat)</b></span>
                                </div>
                                <input type="text" class="form-control datetimepicker-input" data-target="#Birthdat" name="Birthdat" id="datepick_Birthdat">
                                <span asp-validation-for="Birthdat" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6 input-group mb-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><b>@Html.DisplayNameFor(model => model.SfirstName)</b></span>
                                </div>
                                <input asp-for="SfirstName" class="form-control" value="@Model.SfirstName" />
                                <span asp-validation-for="SfirstName" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6 input-group mb-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><b>@Html.DisplayNameFor(model => model.SlastName)</b></span>
                                </div>
                                <input asp-for="SlastName" class="form-control" value="@Model.SlastName" />
                                <span asp-validation-for="SlastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6 input-group mb-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><b>@Html.DisplayNameFor(model => model.DeathDat)</b></span>
                                </div>
                                <input type="text" class="form-control datetimepicker-input" data-target="#DeathDat" name="DeathDat" id="datepick_Deathdat">
                                <span asp-validation-for="DeathDat" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6 input-group mb-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><b>@Html.DisplayNameFor(model => model.InpDate)</b></span>
                                </div>
                                <input type="text" class="form-control datetimepicker-input" data-target="#InpDate" name="InpDate" id="datepick_Inpdate">
                                <span asp-validation-for="InpDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6 input-group mb-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><b>@Html.DisplayNameFor(model => model.Gender)</b></span>
                                </div>
                                @Html.DropDownList("Gender", ViewData["Gender"] as List<SelectListItem>, new { @class = "form-control  select2 select2-hidden-accessible" })
                                @Html.ValidationMessageFor(model => model.Gender)
                            </div>
                            <div class="col-sm-6 input-group mb-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><b>@Html.DisplayNameFor(model => model.Person_Type)</b></span>
                                </div>
                                @Html.DropDownList("Person_Type", ViewData["Person_Type"] as List<SelectListItem>, new { @class = "form-control  select2 select2-hidden-accessible" })
                                @Html.ValidationMessageFor(model => model.Person_Type)
                                <span asp-validation-for="Person_Type" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6 input-group mb-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><b>@Html.DisplayNameFor(model => model.SlegalName)</b></span>
                                </div>
                                <input asp-for="SlegalName" class="form-control" name="SlegalName" />
                                <span asp-validation-for="SlegalName" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6 input-group mb-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><b>@Html.DisplayNameFor(model => model.SclieName)</b></span>
                                </div>
                                <input asp-for="SclieName" class="form-control" name="SclieName" />
                                <span asp-validation-for="SclieName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6 input-group mb-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><b>@Html.DisplayNameFor(model => model.Email)</b></span>
                                </div>
                                <input asp-for="Email" class="form-control" name="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6 input-group mb-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><b>@Html.DisplayNameFor(model => model.Phone_Number)</b></span>
                                </div>
                                <input asp-for="Phone_Number" class="form-control" name="Phone_Number" />
                                <span asp-validation-for="Phone_Number" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    @*<tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Addresses[0].Street)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Addresses[0].Building)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Addresses[0].Deck)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Addresses[0].Letter)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Addresses[0].Locality.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Addresses[0].ZipCode.CodZipCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Addresses[0].Country.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Addresses[0].Province.Name)
                        </th>
                        <th></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Addresses)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Street)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Building)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Deck)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Letter)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Locality.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ZipCode.CodZipCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Country.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Province.Name)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>
</div>
