@model WebApplication2.Models.JoinClass

@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <partial name="../Shared/_NavBarPartial.cshtml" />
            <!-- Navbar -->
            <!-- /.navbar -->
            <!-- Main Sidebar Container -->

            <partial name="../Shared/_Aside.cshtml" />

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Clientes</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active">ChartJS</li>
                                </ol>
                            </div>
                        </div>
                    </div><!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Quick Example</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form role="form" id="searchClient" method="post" enctype="multipart/form-data" action="/client/client/postlist">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="SearchCodClient">
                                                @Html.DisplayNameFor(model => model.ClientSearchModel.SearchCodClient)
                                            </label>
                                            @*<input type="text" class="form-control" name="SearchCodClient" id="SearchCodClient" placeholder="Codigo Cliente">*@
                                            <input asp-for="SearchCodClient" class="form-control" name="SearchCodClient">
                                            <span asp-validation-for="SearcCodClient" class="text-danger"></span>

                                        </div>
                                        <div class="form-group">
                                            <label for="Email">
                                                @Html.DisplayNameFor(model => model.ClientSearchModel.SearchEmail)
                                            </label>
                                            <input type="email" name="SearchEmail" class="form-control" id="Email" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label for="SfirstName">
                                                @Html.DisplayNameFor(model => model.ClientSearchModel.SearchSfirstName)
                                            </label>
                                            <input type="text" name="SearchSfirstName" class="form-control" id="SfirstName" placeholder="Nombre">
                                        </div>
                                        <div class="form-group">
                                            <label for="SlastName">
                                                @Html.DisplayNameFor(model => model.ClientSearchModel.SearchSlastName)
                                            </label>
                                            <input type="text" name="SearchSlastName" class="form-control" id="SlastName" placeholder="Apellido">
                                        </div>
                                        <div class="form-group">
                                            <label for="Person_Type">
                                                @Html.DisplayNameFor(model => model.ClientSearchModel.SearchPersonType)
                                            </label>
                                            <input type="text" name="" class="SearchPersonType-control" id="Person_Type" placeholder="Tipo Persona">
                                        </div>
                                        <div class="form-group">
                                            <label for="SearchLegalName">
                                                @Html.DisplayNameFor(model => model.ClientSearchModel.SearchLegalName)
                                            </label>
                                            <input type="text" name="SearchLegalName" class="form-control" id="SearchLegalName" placeholder="Tipo Persona">
                                        </div>
                                        <div class="form-group">
                                            <label for="SearchLegalName">
                                                @Html.DisplayNameFor(model => model.ClientSearchModel.SearchGender)
                                            </label>
                                            <select asp-for="SearchGender">
                                                @foreach (var item in Model.ClientSearchModel.SearchGenders)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                        </div>

                                    </div>
                                        <!-- /.card-body -->

                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
</form>
                            </div>
                        </div>

                        @if (Model.Clients.Count() > 0)
                        {
                            <div class="row">
                                <!-- Left col -->
                                <section class="col-lg-7 connectedSortable">
                                    <table id="example" class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Clients[0].CodClient)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Clients[0].NumDocument)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Clients[0].CivilSta)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Clients[0].Birthdat)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Clients[0].SfirstName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Clients[0].SlastName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Clients[0].DeathDat)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Clients[0].InpDate)
                                                </th>
                                                <th>
                                                    Sexo
                                                    @Html.DisplayNameFor(model => model.Clients[0].Gender)
                                                </th>
                                                <th>
                                                    Tipo Persona
                                                    @*@Html.DisplayNameFor(model => model.Person_Type)*@
                                                </th>
                                                <th>
                                                    Nombre Legal
                                                    @*@Html.DisplayNameFor(model => model.SlegalName)*@
                                                </th>
                                                <th>
                                                    Nombre completo
                                                    @*@Html.DisplayNameFor(model => model.SclieName)*@
                                                </th>
                                                <th>
                                                    Correo
                                                    @*@Html.DisplayNameFor(model => model.Email)*@
                                                </th>
                                                <th>
                                                    Telefono
                                                    @*@Html.DisplayNameFor(model => model.Phone_Number)*@
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Clients)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.CodClient
                                                    </td>
                                                    <td>
                                                        @item.NumDocument
                                                    </td>
                                                    <td>
                                                        @item.CivilSta
                                                    </td>
                                                    <td>
                                                        @item.Birthdat
                                                    </td>
                                                    <td>
                                                        @item.SfirstName
                                                    </td>
                                                    <td>
                                                        @item.SlastName
                                                    </td>
                                                    <td>
                                                        @item.DeathDat
                                                    </td>
                                                    <td>
                                                        @item.InpDate
                                                    </td>
                                                    <td>
                                                        @item.Gender
                                                    </td>
                                                    <td>
                                                        @item.Person_Type
                                                    </td>
                                                    <td>
                                                        @item.SlegalName
                                                    </td>
                                                    <td>
                                                        @item.SclieName
                                                    </td>
                                                    <td>
                                                        @item.Email
                                                    </td>
                                                    <td>
                                                        @item.Phone_Number
                                                    </td>
                                                    <td>
                                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </section>
                            </div>
                        }
                    </div>
                </section>

            </div><!-- /.container-fluid -->
        </div>


        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Add Content Here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- ./wrapper -->
        <!-- ./wrapper -->
        <!-- page script -->
        <script>
            $(function () {
                $('#example').DataTable();
            })
        </script>

    

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

    </body>
</html>
